
@font-face {
    font-family: "yekan";
    src:url("fonts/Yekan.eot?#") format("eot"),    
          url("fonts/Yekan.woff") format("woff"),
          url("fonts/Yekan.ttf") format("truetype"); 
}
body{
    margin: 0;
    background-color: #FAFAFA;
}

.header img{
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 10px;
    animation-name: anim-arm;
    animation-duration: 2s;
    animation-iteration-count: 1;
    margin-top: 10px;
}

.header img:hover{
    opacity: 0.5;
}
.header{
    width: 100%;
    height: 120px;
    background:linear-gradient(90deg,#12255A,#FFE400);
    animation: anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


.header p{
    font-family: "yekan";
    font-size: 30px;
    text-align: center;
    margin:auto;
    padding: auto;
    vertical-align: middle;
    padding-top: 30px;
    color: white;
}
.part-1 img{
    height: 100%;
    border: 1px black solid;
    box-shadow: 2px 2px gray;
    width: 40%;
    border-radius: 5px;
}
.part-1,.part-2,.part-3{
    margin: auto;
    margin-top: 8px;
    text-align: center;
    animation: anim;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

.part-2,.part-3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.part-2 img{
    height: 100%;
    border:1px black solid;
    box-shadow: 2px 2px gray;
    width: 40%;
    border-radius: 5px;
}
.part-3 img{
    height: 100%;
    border:1px black solid;
    box-shadow: 2px 2px gray;
    width: 40%;
    border-radius: 5px;
}

#address-footer p{
    margin:auto;
    font-family: "yekan";
    text-align: right;
    margin-right: 10px;
    font-size: 100%;
}
#address-footer i{
    text-align: right;
    margin-left: 5px;
}
#address-footer{
    float: right;
    color: white;
    width: 20%;
    bottom: 10;
    right: 10;
    text-align: center;
    background-color: #12255A;
    position:fixed;
    margin: auto;
    height: auto;
    border-radius: 10px;
    box-shadow:5px 5px #445175;
}

@keyframes anim{
    0%{opacity: 0.2;}
    25%{opacity: 0.5;}
    50%{opacity: 0.7;}
    75%{opacity: 0.8;}
    100%{opacity: 1;}

} 

@keyframes anim-arm{
    0%{transform:scale(1,1);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}

} 
@media all and (max-width: 1024px) {
    .header{

    height: auto;
}
    .header p{

    font-size: 50px;
        padding-bottom: 30px;

}
    .header img{
        display: none;
    }
    .part-1 img{
    width: 100%;
}
    .part-3 img{
        width: 100%;
    }
    
    .part-2 img{
        
        width: 100%;
    }
    
    .part-2,.part-1,.part-3{
        height: 100%;
    }
    #address-footer{
        float: none;
        width: 100%;
        height: auto;
        position: static;
        border-bottom-left-radius: none;
        border-bottom-right-radius: none;
    }
    #address-footer p{
    font-size: 30px;
}
    
}
