
@font-face {
    font-family: "yekan";
    src:url("fonts/Yekan.eot?#") format("eot"),    
          url("fonts/Yekan.woff") format("woff"),
          url("fonts/Yekan.ttf") format("truetype"); 
}
body{
    margin: 0;
    background-color: #FAFAFA;
}
.part-1 img{
    height: 100%;
    border: 1px black solid;
    box-shadow: 2px 2px gray;
    width: 40%;
    border-radius: 5px;
}
.part-1,.part-2,.part-3{
    margin: auto;
    margin-top: 8px;
    text-align: center;
    animation: anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.part-2,.part-3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.part-2 img{
    height: 100%;
    border:1px black solid;
    box-shadow: 2px 2px gray;
    width: 40%;
    border-radius: 5px;
}
.part-3 img{
    height: 100%;
    border:1px black solid;
    box-shadow: 2px 2px gray;
    width: 40%;
    border-radius: 5px;
}

#login-footer p{
    margin:auto;
    font-family: "yekan";
    text-align: right;
    margin-right: 10px;
    font-size: 88%;
}
#login-footer{
    float: right;
    color: white;
    width: 20%;
    bottom: 10;
    right: 10;
    text-align: center;
    background-color: #12255A;
    position:fixed;
    margin: auto;
    height: 25%;
    border-radius: 10px;
    box-shadow:5px 5px #445175;
}

@keyframes anim{
    0%{opacity: 0.2;}
    25%{opacity: 0.5;}
    50%{opacity: 0.7;}
    75%{opacity: 0.8;}
    100%{opacity: 1;}

} 
@media all and (max-width: 1024px) {
    .part-1 img{
    width: 90%;
}
    .part-3 img{
        width: 90%;
    }
    
    .part-2 img{
        
        width: 90%;
    }
    #login-footer{
        display: none;
    }
    
}
